.header {
  background: #200b4d;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.8em;
  line-height: 40px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
