.header {
  background: #200b4d;
  position: fixed;
  width: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.8em;
  line-height: 40px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .header {
    display: none;
  }
}
